apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rkllm-openai-pvc
  namespace: rkllm-openai
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: longhorn
  resources:
    requests:
      storage: 20Gi
