{%- if messages[0]['role'] == 'system' -%}
    {%- set system_message = messages[0]['content'] -%}
    {%- set messages = messages[1:] -%}
{%- else -%}
    {%- set system_message = "You are a helpful assistant." -%}
{%- endif -%}

<|system|>
{{ system_message }}<|end|>
{%- for message in messages -%}
    {%- if message['role'] == 'user' -%}
<|user|>
{{ message['content'] }}<|end|>
    {%- elif message['role'] == 'assistant' -%}
<|assistant|>
        {%- if message.get('tool_calls') -%}
            {%- for tool_call in message['tool_calls'] -%}
<|tool_call|>
{"name": "{{ tool_call['function']['name'] }}", "arguments": {{ tool_call['function']['arguments'] }}}
<|end|>
            {%- endfor -%}
        {%- endif -%}
        {%- if message.get('content') -%}
{{ message['content'] }}
        {%- endif -%}
<|end|>
    {%- elif message['role'] == 'tool' -%}
<|tool|>
{{ message['content'] }}<|end|>
    {%- endif -%}
{%- endfor -%}
<|assistant|>
